DATABASE_URL="mongodb+srv://iyandabes1:rVGOPXGW3f5uHxnR@cluster0.efskjub.mongodb.net/arthaku?retryWrites=true&w=majority"
DNS_SERVERS="1.1.1.1,8.8.8.8"

BETTER_AUTH_SECRET="8cff309e8a358f1a1b96ccac41dc647a"
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_API_KEY="ba_ts75chuitcmxaxkor02dbd7423fjq93r"